.vs/BlinkAndBuys/v15/Server/sqlite3/db.lock
.vs/BlinkAndBuys/v16/
/BlinkAndBuys/bin/
/BlinkAndBuys/obj/
/Core/bin/
/Core/Obj/
/DataAccessLayer/bin/
/DataAccessLayer/obj/
/Database/bin/
/Database/obj/
